<h1>Random New</h1>
<form action="/random/results">
  <div>
    <label for="minimum_input">
      Minimum
    </label>

    <input id="minimum_input" type="text" name="small" placeholder = "e.g. 1.5">
  </div>

  <div>
    <label for="maximum_input">
      Maximum
    </label>

    <input id="maximum_input" type="text" name="big" placeholder = "e.g. 4.5">
  </div>

  <button>
    Pick random number
  </button>
</form>