<h1>Random Results</h1>
<dl>
  <dt>
    Minimum
  </dt>
  <dd>
    <%= @small %>
  </dd>
  <dt>
    Maximum
  </dt>
  <dd>
    <%= @big %>
  </dd>
  <dt>
    Random Number
  </dt>
  <dd>
    <%= @random_result %>
  </dd>
</dl>
<p>
  <a href="/random/new"> Pick another random number </a>
</p>