<h1>Square Root New</h1>
<form action="/square_root/results">
  <div>
    <label for="source_input">
      Enter a number
    </label>

    <input id="source_input" type="text" name="user_number" placeholder = "What number do you want to take the square root of?">
  </div>

  <button>
    Calculate square root
  </button>
</form>