<h1>Square New</h1>
<form action="/square/results">
  <div>
    <label for="source_input">
      Enter a number
    </label>

    <input id="source_input" type="text" name="user_number" placeholder = "What number do you want to square?">
  </div>

  <button>
    Calculate square
  </button>
</form>